<%- include('0-head') %>
<%- include('1-headEditarHome', {titulo: "Edición - Menú Principal"}) %>
<body id="editar_home">
	<main>
		<h1>Editar - Home</h1>
		<table id="tabla">
			<thead>
				<tr>
					<th>Sección</th>
					<th class="center">Orden</th>
					<th>Nombre en el<br>Encabezado</th>
					<th>Nombre en el<br>Título de la Sección</th>
					<th>Color de Fondo</th>
					<th>Color de Letras</th>
					<th class="center">Imagen<br>Individual</th>
					<th class="center">Editar<br>Texto</th>
					<th class="center">Editar<br>Imágenes</th>
				</tr>
			</thead>
			<tbody>
				<tr id="encabezado">
					<td id="cfe" class="ocultar"><%= encabezado.color_fondo.codigo %></td>
					<td id="cle" class="ocultar"><%= encabezado.color_letras.codigo %></td>
					<td><strong>encabezado</strong></td>
					<td class="center">-</td>
					<td>-</td>
					<td>-</td>
					<td>
						<select name="color_fondo_encabezado">
							<% for (n of colores) { %>
								<option 
									value="<%= n.id %>" 
									<%- n.id == encabezado.color_fondo_id ? 'selected' : "" %> 
								>
									<%= n.nombre %>
								</option>
							<% } %> 
						</select>
					</td>
					<td>
						<select name="color_letras_encabezado">
							<% for (n of colores) { %>
								<option 
									value="<%= n.id %>" 
									<%- n.id == encabezado.color_letras_id ? 'selected' : "" %> 
								>
									<%= n.nombre %>
								</option>
							<% } %> 
						</select>
					</td>
					<td class="center">-</td>
					<td class="center">-</td>
					<td class="center">-</td>
				</tr>
				<% for (titulo of titulos) { %>
					<tr class="filas">
						<td class="cff ocultar"><%= titulo.color_fondo.codigo %></td>
						<td class="clf ocultar"><%= titulo.color_letras.codigo %></td>
						<td class="id ocultar"><%= titulo.id %></td>
						<td>
							<strong><%= titulo.nombre_seccion %></strong>
						</td>
						<td class="center flechas">
							<i class="fas fa-arrow-alt-circle-up <%- titulo == titulos[0] ? 'ocultar' : '' %>"></i>
							<i class="fas fa-arrow-alt-circle-down <%- titulo == titulos[titulos.length-1] ? 'ocultar' : '' %>"></i>
						</td>
						<td>
							<input type="text" name="ne" value="<%= titulo.nombre_a_mostrar %>">
						</td>
						<td>
							<input type="text" name="ts" value="<%= titulo.titulo_seccion %>">
						</td>
						<td>
							<select name="cff">
								<% for (n of colores) { %>
									<option 
										value="<%= n.id %>" 
										<%- n.id == titulo.color_fondo_id ? 'selected' : "" %> 
									>
										<%= n.nombre %>
									</option>
								<% } %> 
							</select>
						</td>
						<td>
							<select name="clf">
								<% for (n of colores) { %>
									<option 
										value="<%= n.id %>" 
										<%- n.id == titulo.color_letras_id ? 'selected' : "" %> 
									>
										<%= n.nombre %>
									</option>
								<% } %> 
							</select>
						</td>
						<% if (titulo.imagen_id) { %>
							<td class="td_imagen">
								<div class="div_imagen">
									<img src="/imagenes/varias/<%= titulo.imagen.nombre %>">
								</div>
							</td>
						<% } else { %>
							<td class="center">-</td>
						<% } %> 
						<td class="center">
							<%- titulo.editar_texto ? '<a href="/editar/textos/' + titulo.nombre_seccion + '"><i class="fas fa-check-circle"></i></a>' : '<i class="fas fa-times-circle"></i>' %>
						</td>
						<td class="center">
							<%- titulo.editar_imagenes ? '<a href="/editar/imagenes/' + titulo.nombre_seccion + '"><i class="fas fa-check-circle"></i></a>' : '<i class="fas fa-times-circle"></i>' %>
						</td>
					</tr>
				<% } %>
				<tr id="footer">
					<td id="cff" class="ocultar"><%= footer.color_fondo.codigo %></td>
					<td id="clf" class="ocultar"><%= footer.color_letras.codigo %></td>
					<td><strong>footer</strong></td>
					<td class="center">-</td>
					<td>-</td>
					<td>-</td>
					<td>
						<select name="color_fondo_footer">
							<% for (n of colores) { %>
								<option 
									value="<%= n.id %>" 
									<%- n.id == footer.color_fondo_id ? 'selected' : "" %> 
								>
									<%= n.nombre %>
								</option>
							<% } %> 
						</select>
					</td>
					<td>
						<select name="color_letras_footer">
							<% for (n of colores) { %>
								<option 
									value="<%= n.id %>" 
									<%- n.id == footer.color_letras_id ? 'selected' : "" %> 
								>
									<%= n.nombre %>
								</option>
							<% } %> 
						</select>
					</td>
					<td class="center">-</td>
					<td class="center">-</td>
					<td class="center">-</td>
				</tr>
			</tbody>
		</table>
		<div id="botones">
			<a href="/logout" title="Volver a la página principal"><i class="fas fa-arrow-alt-circle-left"></i></a>
			<a href="/editar/colores" title="Ir a la Base de Datos de colores"><i class="fas fa-arrow-alt-circle-right"></i></a>
		</div>
	</main>
</body>
</html>