<%- include('3-editarHead-colores', {titulo: "Edici칩n - Colores"}) %>
<body id="editar_colores">
	<main>
		<table id="tabla">
			<caption>Editar Colores</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>C칩digo</th>
					<th>Muestra</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<% for (let i=0; i<colores.length; i++) { %> 
					<tr class="color_existente">
						<td id="id" class="ocultar"><%= colores[i].id %> </td>
						<td>
							<input type="text" name="nombre" value="<%= colores[i].nombre %>" style="font-weight: bold">
						</td>
						<td><%= colores[i].codigo %></td>
						<td style="background-color: <%= colores[i].codigo %>" id="muestra"></td>
						<td>
							<% let en_uso = colores[i].encabezado_cf.length + colores[i].encabezado_cl.length + colores[i].titulos_cf.length + colores[i].titulos_cl.length + colores[i].proyectos_cf.length + colores[i].proyectos_cl.length + colores[i].proyectos_cb.length %>
							<% if (en_uso) { %>
								<select onchange="location = this.value;">
									<option class="ocultar" selected>En uso por</option>
									<!-- Color de Fondo -->
									<% for (sector of colores[i].encabezado_cf) { %>
										<option value="/editar/home">Fondo - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% for (sector of colores[i].titulos_cf) { %>
										<option value="/editar/home">Fondo - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% if (colores[i].proyectos_cf.length) { %>
										<option value="/editar/colores/proyectos">Fondo - etiq. proyectos</option>
									<% } %> 
									<!-- Color de Letras -->
									<% for (sector of colores[i].encabezado_cl) { %>
										<option value="/editar/home">Letras - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% for (sector of colores[i].titulos_cl) { %>
										<option value="/editar/home">Letras - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% if (colores[i].proyectos_cl.length) { %>
										<option value="/editar/colores/proyectos">Letras - etiq. proyectos</option>
									<% } %> 
									<!-- Color de Bordes -->
									<% if (colores[i].proyectos_cb.length) { %>
										<option value="/editar/colores/proyectos">Borde - etiq. proyectos</option>
									<% } %> 
								</select>
							<% } else { %>
								-
							<% } %> 
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<div id="botones">
			<button><a href="/editar/home">Volver a la p치gina de edici칩n</a></button>
			<button id="agregar">Agregar un color</a></button>
			<button><a href="https://htmlcolorcodes.com/es/selector-de-color/" target="_blank">Ir a la Paleta de Colores</a></button>
		</div>
	</main>
</body>
</html>
