<%- include('3-editarHead-colores', {titulo: "Edici칩n - Colores"}) %>
<body id="editar_colores">
	<main>
		<table id="tabla">
			<caption>Editar Colores</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th style="width: 210px;">C칩digo</th>
					<th>Muestra</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<% for (color of colores) { %> 
					<tr class="color_existente">
						<td id="id" class="ocultar"><%= color.id %> </td>
						<td>
							<input type="text" name="nombre" value="<%= color.nombre %>" style="font-weight: bold">
						</td>
						<td><%= color.codigo %></td>
						<td style="background-color: <%= color.codigo %>" id="muestra"></td>
						<td>
							<% let en_uso = color.encabezado_cf.length + color.encabezado_cl.length + color.titulos_cf.length + color.titulos_cl.length + color.proyectos_cf.length + color.proyectos_cl.length + color.proyectos_cb.length %>
							<% if (en_uso) { %>
								<select onchange="location = this.value;">
									<option class="ocultar" selected>En uso por</option>
									<!-- Color de Fondo -->
									<% for (sector of color.encabezado_cf) { %>
										<option value="/editar/home">Fondo - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% for (sector of color.titulos_cf) { %>
										<option value="/editar/home">Fondo - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% if (color.proyectos_cf.length) { %>
										<option value="/editar/colores/proyectos">Fondo - etiq. proyectos</option>
									<% } %> 
									<!-- Color de Letras -->
									<% for (sector of color.encabezado_cl) { %>
										<option value="/editar/home">Letras - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% for (sector of color.titulos_cl) { %>
										<option value="/editar/home">Letras - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% if (color.proyectos_cl.length) { %>
										<option value="/editar/colores/proyectos">Letras - etiq. proyectos</option>
									<% } %> 
									<!-- Color de Bordes -->
									<% if (color.proyectos_cb.length) { %>
										<option value="/editar/colores/proyectos">Borde - etiq. proyectos</option>
									<% } %> 
								</select>
							<% } else { %>
								-
							<% } %> 
						</td>
					</tr>
				<% } %>
				<tr id="color_nuevo" class="ocultar">
					<td><input name="nombre" type="text" class="rojo"></td>
					<td><input name="codigo" type="text" class="rojo"></td>
					<td id="muestra"></td>
					<td id="confirmar" class="rojo">Completar</td>
				</tr>
			</tbody>
		</table>
		<div id="botones">
			<button><a href="/editar/home">Volver a la p치gina de edici칩n</a></button>
			<button id="agregar">Agregar un color</a></button>
			<button><a href="https://htmlcolorcodes.com/es/selector-de-color/" target="_blank">Ir a la Paleta de Colores</a></button>
		</div>
	</main>
</body>
</html>
