<%- include('3-editarHead-colores', {titulo: "Edici칩n - Colores"}) %>
<body id="editar_colores">
	<main>
		<table id="tabla">
			<caption>Editar Colores</caption>
			<thead>
				<tr>
					<th>Nombre</th>
					<th>C칩digo</th>
					<th>Muestra</th>
					<th>Comentarios</th>
				</tr>
			</thead>
			<tbody>
				<% for (color of colores) { %> 
					<tr>
						<td>
							<input type="text" name="nombre_encabezado" value="<%= color.nombre %>" style="font-weight: bold">
						</td>
						<td>
							<input type="text" name="nombre_encabezado" value="<%= color.codigo %>">
						</td>
						<td style="background-color: <%= color.codigo %>;"></td>
						<td>
							<% let en_uso = color.encabezado_cf.length + color.encabezado_cl.length + color.titulos_cf.length + color.titulos_cl.length + color.proyectos_cf.length + color.proyectos_cl.length + color.proyectos_cb.length %>
							<% if (en_uso) { %>
								<select>
									<option class="ocultar" selected>En uso por</option>
									<!-- Color de Fondo -->
									<% for (sector of color.encabezado_cf) { %>
										<option>Color de fondo - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% for (sector of color.titulos_cf) { %>
										<option>Color de fondo - <%= sector.nombre_seccion %></option>
									<% } %> 
									<!-- Color de Letras -->
									<% for (sector of color.encabezado_cl) { %>
										<option>Color de letras - <%= sector.nombre_seccion %></option>
									<% } %> 
									<% for (sector of color.titulos_cl) { %>
										<option>Color de letras - <%= sector.nombre_seccion %></option>
									<% } %> 
									<!-- Etiquetas de Proyectos -->
									<% if (color.proyectos_cf.length) { %>
										<option>Etiq. Proyectos - fondo</option>
									<% } %> 
									<% if (color.proyectos_cl.length) { %>
										<option>Etiq. Proyectos - letras</option>
									<% } %> 
									<% if (color.proyectos_cb.length) { %>
										<option>Etiq. Proyectos - borde</option>
									<% } %> 
								</select>
							<% } else { %>
								-
							<% } %> 
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<div id="botones">
			<button><a href="/editar/home">Volver a la p치gina de edici칩n</a></button>
			<button><a href="https://htmlcolorcodes.com/es/selector-de-color/" target="_blank">Ir a la Paleta de Colores</a></button>
		</div>
	</main>
</body>
</html>
