<%- include('0-head') %>
<%- include('3-headEditarTexto', {titulo: "Edición - " + titulo.nombre_a_mostrar}) %>
<body id="editar_texto">
	<header>
		Seccion: <%= titulo.nombre_a_mostrar %> 
	</header>
	<main>
		<% for (let grupo=1; grupo<=datos.length; grupo++) { %>
			<% contenido = datos.filter(n => n.grupo == grupo) %>
			<% if (contenido.length == 0) {break} %>
			<h1>Grupo <%= grupo %></h1>
			<table id="tabla">
				<tbody>
					<% for (texto of contenido) { %>
						<tr>
							<td class="id ocultar"><%= texto.id %></td>
							<td class="center flechas">
								<i class="fas fa-arrow-alt-circle-up <%- texto == contenido[0] ? 'ocultar' : '' %>"></i>
								<i class="fas fa-arrow-alt-circle-down <%- texto == contenido[contenido.length-1] ? 'ocultar' : '' %>"></i>
							</td>
							<td id="id" class="ocultar">
								<%= texto.id %> 
							</td>
							<td>
								<input type="text" name="contenido" value="<%= texto.contenido %>">
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>	
			<% if (!(seccion =="servicios") && !(seccion == "habilitaciones" && grupo > 1) && !(seccion == "quienes_somos" && grupo == 2) && !(seccion == "contactanos" && grupo == 1)) { %>
				<a title="Agregar un texto" id="agregarTexto" class="botones"><i class="fas fa-plus"></i></a>
			<% } %> 
		<% } %>
		<div id="botones">
			<a href="/editar/home" title='Volver al "Home" de Edición'><i class="fas fa-arrow-alt-circle-left"></i></a>
			<% if (seccion == "habilitaciones" || seccion == "servicios") { %>
				<a title="Agregar un grupo" id="agregarGrupo"><i class="fas fa-plus"></i></a>
			<% } %> 
		</div>
	</main>
</body>
</html>