<%- include('0-head', {titulo: "Edición - " + titulo.nombre_encabezado}) %>
<%- include('3-headEditarTextos') %>
<body id="editar_texto">
	<header>
		Seccion: <%= titulo.nombre_encabezado %> - Editar texto
		<div class="ocultar"><%= titulo.nombre_seccion %></div>
	</header>
	<main>
		<% grupos = datos.filter((m) => m.orden == 1).map(m => m.grupo) %>
		<% for (grupo of grupos) { %>
			<% contenido = datos.filter(n => n.grupo == grupo) %>
			<div id="titulo">
				<h2>Grupo <%= grupo %></h2>
				<% if (seccion == "habilitaciones" || seccion == "servicios") { %>
					<span id="grupo" class="ocultar"><%= grupo %></span>
					<i class="far fa-trash-alt<%- grupo == 1 ? ' ocultar' : '' %>"></i>
				<% } %>
			</div>
			<table id="tabla">
				<tbody>
					<% for (texto of contenido) { %>
						<tr id="txt_exist">
							<td id="id" class="ocultar"><%= texto.id %></td>
							<td id="orden" class="ocultar"><%= texto.orden %></td>
							<td class="center flechas">
								<i class="fas fa-arrow-alt-circle-up<%- texto == contenido[0] ? ' ocultar' : '' %>"></i>
								<i class="fas fa-arrow-alt-circle-down<%- texto == contenido[contenido.length-1] ? ' ocultar' : '' %>"></i>
							</td>
							<td><input type="text" name="cont" value="<%= texto.contenido %>"></td>
							<td><i class="far fa-trash-alt<%- texto.orden == 1 ? ' ocultar' : '' %>"></i></td>
						</tr>
					<% } %>
					<tr id="texto_nvo" class="ocultar">
						<td id="grupo" class="ocultar"><%= texto.grupo %></td>
						<td class="center flechas"></td>
						<td><input type="text" name="cont"></td>
						<td id="confirmar" class="rojo"><i class="fas fa-times"></i></td>
					</tr>
				</tbody>
			</table>
			<% condicion = ((seccion =="servicios" && texto.orden == 2) || (seccion == "habilitaciones" && grupo > 1 && texto.orden == 2) || (seccion == "quienes_somos" && grupo > 1) || (seccion == "contactanos" && grupo == 1)) %>
			<div class="<%- condicion ? 'ocultar' : '' %>">
				<a id="agregarTexto" class="botones" title="Agregar un texto">
					<i class="fas fa-plus"></i>
				</a>
			</div>
		<% } %>
		<div id="botones">
			<a href="/editar/home" title='Volver al "Home" de Edición'><i class="fas fa-home"></i></a>
			<a title="Agregar un grupo" id="agregarGrupo" class="<%- (seccion != 'habilitaciones' && seccion != 'servicios') ? 'ocultar' : '' %>">
				<i class="fas fa-plus"></i>
			</a>
		</div>
	</main>
</body>
</html>