<%- include('0-head') %>
<%- include('4-headEditarImagenes', {titulo: "Edici칩n - " + titulo.nombre_a_mostrar}) %>
<body id="editar_imagenes">
	<header>
		Seccion: <%= titulo.nombre_a_mostrar %> 
	</header>
	<main>
		<% for (let grupo=1; grupo<=datos.length; grupo++) { %>
			<% imagenes = datos.filter(n => n.grupo == grupo) %>
			<% if (imagenes.length == 0) {break} %>
			<h1>
				<%= datos.filter(n => n.grupo == 2).length ? "Grupo "+grupo : "Todos las im치genes est치n en un mismo grupo" %>
			</h1>
			<ul class="imagenes">
				<% for (imagen of imagenes) { %>
					<li>
						<div id="tamano">
							<img src="/imagenes/<%= titulo.id %>-<%= seccion %>/<%= imagen.archivo %> " alt="">
						</div>
						<a title="Eliminar"><i class="far fa-trash-alt"></i></a>
						<i class="ocultar"><%= imagen.id %></i>
					</li>
				<% } %> 
			</ul>
			<form action="/editar/agregarImagen" method = "POST" enctype = "multipart/form-data" class="agregarImagen">
				<input name="ruta" value="./public/imagenes/<%= titulo.id %>-<%= titulo.nombre_seccion %>" class="ocultar">
				<input name="grupo" value="<%= grupo %>" class="ocultar">
				<label for="inputImagen<%= grupo %>" id="preview">
					<a title="Agregar una imagen" id="agregarImagen" class="botones">
						<i class="fas fa-plus"></i>
					</a>
				</label>
				<input name="imagen" type="file" id="inputImagen<%= grupo %>" class="ocultar" accept="image/*" onchange="this.form.submit()">
				<button type="submit" class="ocultar"><i class="fas fa-save"></i></button>
			</form>
		<% } %>
		<div id="botones">
			<a href="/editar/home" title='Volver al "Home" de Edici칩n'><i class="fas fa-home"></i></a>
			<% if (seccion == "proyectos") { %>
				<a title="Agregar un grupo" id="agregarGrupo"><i class="fas fa-plus"></i></a>
			<% } %> 
		</div>
	</main>
</body>
</html>