<%- include('0-head') %>
<%- include('4-headEditarImagenes', {titulo: "Edici칩n - " + titulo.nombre_a_mostrar}) %>
<body id="editar_imagenes">
	<header>
		Seccion: <%= titulo.nombre_a_mostrar %> 
	</header>
	<main>
		<% for (let grupo=1; grupo<=imagenes.length; grupo++) { %>
			<% contenido = imagenes.filter(n => n.grupo == grupo) %>
			<% if (contenido.length == 0) {break} %>
			<h1>
				<%= imagenes.filter(n => n.grupo == 2).length ? "Grupo "+grupo : "Todos las im치genes est치n en un mismo grupo" %>
			</h1>
			<ul id="imagenes">
				<% for (imagen of contenido) { %>
					<li>
						<img src="/imagenes/<%= titulo.id %>-<%= seccion %>/<%= imagen.archivo %> " alt="">
						<i class="far fa-trash-alt"></i>
						<i class="ocultar"><%= imagen.id %></i>
					</li>
				<% } %> 
			</ul>
			<a title="Agregar un texto" id="agregarTexto" class="botones"><i class="fas fa-plus"></i></a>
		<% } %>
		<div id="botones">
			<a href="/editar/home" title='Volver al "Home" de Edici칩n'><i class="fas fa-arrow-alt-circle-left"></i></a>
			<% if (seccion == "proyectos") { %>
				<a title="Agregar un grupo" id="agregarGrupo"><i class="fas fa-plus"></i></a>
			<% } %> 
		</div>
	</main>
</body>
</html>