<%- include('0-head', {titulo: "Edición - Proyectos y Obras"}) %>
<%- include('5-headEditarProyectos') %>
<body id="editar_proyectos">
	<main>
		<h2>Editar - Proyectos y Obras</h2>
		<p id="colorFondo" class="ocultar"><%= datos.color_fondo.codigo %></p>
		<table id="tabla">
			<thead>
				<tr>
					<th>Contenido</th>
					<th>Color de Fondo</th>
					<th>Color de Letras</th>
					<th>Color de Bordes</th>
				</tr>
			</thead>
			<tbody>
				<% for (registro of proyectos) { %>
					<tr class="filas">
						<td id="id" class="ocultar"><%= registro.id %></td>
						<td id="clf" class="ocultar"><%= registro.color_letras.codigo %></td>
						<td id="cff" class="ocultar"><%= registro.color_fondo.codigo %></td>
						<td id="cbf" class="ocultar"><%= registro.color_borde.codigo %></td>
						<td><input type="text" name="cont" value="<%= registro.contenido %>"></td>
						<td>
							<select name="cff">
								<% for (n of colores) { %>
									<option 
										value="<%= n.id %>" 
										<%- n.id == registro.color_fondo_id ? 'selected' : "" %>
									>
										<%= n.nombre %>
									</option>
								<% } %>
							</select>
						</td>
						<td>
							<select name="clf">
								<% for (n of colores) { %>
									<option 
										value="<%= n.id %>" 
										<%- n.id == registro.color_letras_id ? 'selected' : "" %>
									>
										<%= n.nombre %>
									</option>
								<% } %>
							</select>
						</td>
						<td>
							<select name="cbf">
								<% for (n of colores) { %>
									<option 
										value="<%= n.id %>" 
										<%- n.id == registro.color_borde_id ? 'selected' : "" %>
									>
										<%= n.nombre %>
									</option>
								<% } %>
							</select>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<div id="botones">
			<a href="/editar/home" title='Volver al "Home" de Edición'><i class="fas fa-home"></i></i></a>
			<a href="/editar/colores" title="Ir a la Base de Datos de colores"><i class="fas fa-paint-roller"></i></a>
		</div>
	</main>
</body>
</html>