<!DOCTYPE html>
<html lang="es">
<head>
	<title>Archivo de imagen con problemas</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<p class="dato">Archivo: <strong><%= archivo.originalname %></strong></p>
	<% if (condiciones[1]) { %><p class="condicion"><%= condiciones[1] %></p><% } %> 
	<p class="dato">Tamaño: <strong><%= parseInt(archivo.size/10000)/100 %> MB</strong></p>
	<% if (condiciones[2]) { %><p class="condicion"><%= condiciones[2] %></p><% } %> 
	<a href="<%= home %> ">
		<button>Regresar</button>
	</a>
</body>
</html>

<style>
	body {
		font-family: 'Open Sans', Roboto,'Helvetica Neue', sans-serif;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.dato {margin-bottom: 0;}
	.condicion {margin: 0; color: red;}
	button {
		margin-top: 10px;
	}
</style>