<%- include('head', {titulo: title}) %>
	<body>
		<header class="flex-row">
			<% for (n of titulos_encabezado) { %>
				<div>
					<a href=""><%= n.nombre_a_mostrar %></a>
				</div>
			<% } %> 
		</header>
		<main>
			<% for (n of titulos_encabezado) { %>
				<section id="<%= n.seccion %>" 
					style="
						background-color: <%= n.color_fondo %>; 
						color: <%= n.color_letras %>"
				>
					<%- include(n.id + "-" + n.seccion) %>
				</section>
			<% } %> 
		</main>
	</body>
</html>
