<%- include('0-head') %>
<%- include('0-headHome', {titulo: "Arq. José Costas"}) %>
<body>
	<header>
		<% for (n of titulos) { %>
			<nav style="background-color: <%= encabezado.color_fondo.codigo %>; border-color: <%= encabezado.color_letras.codigo %>">
				<a style="color: <%= encabezado.color_letras.codigo %>" href="#<%= n.nombre_seccion %>"><%= n.nombre_a_mostrar %></a>
			</nav>
		<% } %>
	</header>
	<main>
		<% for (n of titulos) { %>
			<section 
				id="<%= n.nombre_seccion %>" 
				class="seccion"
				style="background-color: <%= n.color_fondo.codigo %>; color: <%= n.color_letras.codigo %>"
			>
				<%- include(n.id + "-" + n.nombre_seccion) %>
			</section>
		<% } %>
	</main>
	<footer style="background-color: <%= footer.color_fondo.codigo %>">
		<p style="color: <%= footer.color_letras.codigo %>">Sitio web creado por Diego Iribarren, para José Costas. Año 2021.</p>
	</footer>
</body>
</html>
