<%- include('head', {titulo: title}) %>
	<body>
		<header class="flex-row">
			<% for (n of titulos_encabezado) { %>
				<nav>
					<a href="#<%= n.seccion %>"><%= n.nombre_a_mostrar %></a>
				</nav>
			<% } %> 
		</header>
		<main>
			<% for (n of titulos_encabezado) { %>
				<section id="<%= n.seccion %>" class="seccion"
					style="background-color: <%= n.color_fondo.color %>; color: <%= n.color_letras.color %>"
				>
					<%- include(n.id + "-" + n.seccion) %>
				</section>
			<% } %>
		</main>
		<footer>
			<p>Sitio web diseñado por Diego Iribarren. Todos los derechos están reservados para José Costas (año 2021).</p>
		</footer>
	</body>
</html>
