<section id="texto" class="flex-col">
	<div id="encabezado">
		<div id="logos">
			<p id="logo1">ARQ & HAB</p>
			<h1 id="logo2">Arquitectura y Habilitaciones</h1>
		</div>
		<i id="home-button" class="fas fa-bars" style="background-color:<%= encabezado.color_fondo.codigo %>; border-color:<%= encabezado.color_letras.codigo %>; color:<%= encabezado.color_letras.codigo %>"></i>
		<div id="menu-home" class="dropdown-content ocultar" style="background-color:<%= encabezado.color_fondo.codigo %>; border-color:<%= encabezado.color_letras.codigo %>">
			<% for (m of titulos) { %>
				<nav style="border-color:<%= encabezado.color_letras.codigo %>">
					<a style="color:<%= encabezado.color_letras.codigo %>" href="#<%= m.nombre_seccion %>"><%= m.nombre_encabezado %></a>
				</nav>
			<% } %>
		</div>
	</div>
	<h2><%= n.titulo_seccion %></h2>
	<div id="tareas">
		<% for (m of inicio.filter(m => m.grupo == 1)) { %>
			<p><%= m.contenido %></p>
		<% } %>
	</div>
	<div id="datos">
		<% for (m of inicio.filter(m => m.grupo == 2)) { %>
			<p style="color:<%= n.color_letras.codigo %>"><%= m.contenido %></p>
		<% } %>
	</div>
</section>
<section id="imagenes">
	<ul style="width: <%= inicio_imagenes.length + 1 %>00%">
		<% for (m of inicio_imagenes) { %>
			<li><img src="./imagenes/1-inicio/<%= m.archivo %>"></li>
		<% } %>
		<li>
			<img src="./imagenes/1-inicio/<%= inicio_imagenes[0].archivo %>">
		</li>
	</ul>
	<div id="iconos">
		<i class="fas fa-chevron-left ocultar"></i>
		<i class="fas fa-pause-circle"></i>
		<i class="fas fa-play-circle ocultar"></i>
		<i class="fas fa-chevron-right"></i>
	</div>
	<nav id="dots">
		<% for (let i=0; i<inicio_imagenes.length; i++) { %>
			<button class="dot<%- i==0 ? ' current' : '' %>"></button>
		<% } %>
		<p></p>
	</nav>
</section>
