<section id="texto">
	<div id="titulo">
		<h1><%= n.titulo_seccion %></h1>
	</div>
	<div id="botones">
		<% for (m of proyectos) { %>
			<button style="background-color: <%= m.color_fondo.codigo %>; color: <%= m.color_letras.codigo %>; border-color: <%= m.color_borde.codigo %>">
				<%= m.contenido %> 
			</button>
		<% } %> 
	</div>
</section>
<section id="imagen">
	<% for (let i=0; i<proyectos.length; i++) { %>
		<div class="grupo <%- i==0 ? 'flex-row' : 'ocultar' %> ">
			<% for (let j=0; j<proyectos[i].imagenes.length; j++) { %> 
					<img style="animation: banner<%= j+1 %> 15s infinite normal" src="./imagenes/3-proyectos/<%= proyectos[i].imagenes[j].nombre %>">
					<% if (proyectos[i].imagenes[j].texto) { %>
						<figcaption style="animation: banner<%= j+1 %> 15s infinite normal; background-color: <%= n.color_letras.codigo %> "><%= proyectos[i].imagenes[j].texto %> </figcaption>
					<% } %> 
			<% } %> 
		</div>
	<% } %>
</section>