<h2><%= n.titulo_seccion %></h2>
<img src="./imagenes/varias/<%= n.imagen.archivo %>" alt="<%= n.imagen.nombre %>">
<% grupos = servicios.filter((m) => m.orden == 1).map(m => m.grupo) %>
<% for (grupo of grupos) { %>
		<h3><%= servicios.find(n => n.grupo == grupo && n.orden == 1).contenido %></h3>
		<% aux = servicios.find(n => n.grupo == grupo && n.orden == 2) %>
		<p><%- aux ? servicios.find(n => n.grupo == grupo && n.orden == 2).contenido : "" %></p>
<% } %>
