<h2><%= n.titulo_seccion %></h2>
<section id="arquitecto">
	<h3>
		<%= quienes_somos.find(m => (m.grupo == 1 && m.orden == 1)).contenido %>
		<%- include("avatar", {ancho: "ancho"}) %>
	</h3>
	<%- include("avatar", {ancho: "angosto"}) %>
	<ul>
		<% textos = quienes_somos.filter(m => (m.grupo == 1 && m.orden > 1)) %>
		<% for (texto of textos) { %>
			<li><%= texto.contenido %></li>
		<% } %>
	</ul>
</section>
<section id="clientes">
	<h3><%= quienes_somos.find(m => m.grupo == 2 && m.orden == 1).contenido %></h3>
	<ul>
		<% for (j of clientes_imagenes) { %>
			<li>
				<img src="/imagenes/5-quienes_somos/<%= j.archivo %>" alt="<%= j.nombre %>">
			</li>
		<% } %>
	</ul>
</section>