<h1><%= n.titulo_seccion %></h1>
<section id="arquitecto">
	<h2>
		<%= quienes_somos.find(m => (m.grupo == 1 && m.orden == 1)).contenido %>
		<a id="ancho" class="sinPointer" href="/login" target="_blank">
			<img src="./imagenes/varias/<%= n.imagen.archivo %>" alt="<%= n.imagen.nombre %>">
		</a>
	</h2>
	<a id="angosto" class="sinPointer" href="/login" target="_blank">
		<img src="./imagenes/varias/<%= n.imagen.archivo %>" alt="<%= n.imagen.nombre %>">
	</a>
	<ul>
		<% textos = quienes_somos.filter(m => (m.grupo == 1 && m.orden > 1)) %>
		<% for (texto of textos) { %>
			<li><%= texto.contenido %></li>
		<% } %> 
	</ul>
</section>
<section id="clientes">
	<h2><%= quienes_somos.find(m => m.grupo == 2 && m.orden == 1).contenido %></h2>
	<ul>
		<% for (j of clientes_imagenes) { %> 
			<li>
				<img src="/imagenes/5-quienes_somos/<%= j.archivo %> " alt="<%= j.nombre %>">
			</li>
		<% } %> 
	</ul>
</section>