<form action="/contactanos" method="POST" class="flex-row">
	<section id="inputs" class="flex-col">
		<h1><%= n.titulo_seccion %></h1>
		<div class="relative flex-col">
			<input class="input" type="text" name="nombre" placeholder="Nombre" 
				value="<%= locals.datos ? datos.nombre : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<input class="input" type="text" name="mail" placeholder="E-Mail"
				value="<%= locals.datos ? datos.mail : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<input class="input" type="text" name="telefono" placeholder="Teléfono (opcional)"
				value="<%= locals.datos ? datos.telefono : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<textarea class="input" name="comentario" rows="6" placeholder="Comentario" autocomplete="off"><%= locals.datos ? datos.comentario : null %></textarea>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
	</section>
	<section id="texto" class="flex-col">
		<div class="flex-col">
			<h2><%= contactanos.find(n => n.grupo == 1).contenido %></h2>
			<% casos = contactanos.filter(m => (m.grupo == 2)).length %>
			<% for (let i=0; i<casos; i++) { %>
				<p><%= contactanos.find(n => n.grupo == 2 && n.orden == i+1).contenido %></p>
				<%- i == 0 ? '<br>' : '' %> 
			<% } %> 
		</div>
		<div id="submit">
			<p id="suma1" class="noSeleccionable"><%= suma1 %></p>
			<p class="noSeleccionable">+</p>
			<p id="suma2" class="noSeleccionable"><%= suma2 %></p>
			<p class="noSeleccionable">=</p>
			<div class="relative flex-col">
				<input id="suma" class="input" type="text" name="suma"
					value="<%= locals.datos ? "X" : null %>"
					autocomplete="off"
				>
				<i class="fas fa-times-circle ocultar" id="errorSuma"></i>
			</div>
			<button style="background-color: <%= n.color_letras.color %> " type="submit">Enviar</button>
		</div>
	</section>
</form>
<section id="background" class="ocultar">
</section>
<section id="envioExitoso" class="ocultar" style="background-color: <%= n.color_letras.color %>">
	<p style="color: <%= n.color_fondo.color %> ">¡Su mensaje fue enviado correctamente!</p>
	<img src="/imagenes/6-contactanos/ok.png">
	<button style="background-color: <%= n.color_fondo.color %>; color: <%= n.color_letras.color %>">Entendido</button>
</section>
