<%- include('0-head', {titulo: "Edición - Menú Principal"}) %>
<%- include('1-headEditarHome') %>
<body id="editar_home">
	<main>
		<h2>Editar - Home</h2>
		<table id="tabla">
			<thead>
				<!-- Encabezado de la tabla -->
				<tr>
					<th>Sección</th>
					<th class="center">Orden</th>
					<th>Nombre en el<br>Encabezado</th>
					<th>Nombre en el<br>Título de la Sección</th>
					<th>Color de Fondo</th>
					<th>Color de Letras</th>
					<th class="center">Imagen<br>Individual</th>
					<th class="center">Editar<br>Texto</th>
					<th class="center">Editar<br>Imágenes</th>
					<th class="center">Editar<br>Botones</th>
				</tr>
			</thead>
			<tbody>
				<!-- Fila de encabezado de home -->
				<tr id="encab">
					<td id="cfe" class="ocultar"><%= encabezado.color_fondo.codigo %></td>
					<td id="cle" class="ocultar"><%= encabezado.color_letras.codigo %></td>
					<td><strong>encabezado</strong></td>
					<td class="center">-</td>
					<td>-</td>
					<td>-</td>
					<td>
						<select name="cfe">
							<% for (n of colores) { %>
								<option
									value="<%= n.id %>"
									<%- n.id == encabezado.color_fondo_id ? 'selected' : "" %>
								>
									<%= n.nombre %>
								</option>
							<% } %>
						</select>
					</td>
					<td>
						<select name="cle">
							<% for (n of colores) { %>
								<option
									value="<%= n.id %>"
									<%- n.id == encabezado.color_letras_id ? 'selected' : "" %>
								>
									<%= n.nombre %>
								</option>
							<% } %>
						</select>
					</td>
					<td class="center">-</td>
					<td class="center">-</td>
					<td class="center">-</td>
					<td class="center">-</td>
				</tr>
				<% i=0 %>
				<!-- Filas de secciones -->
				<% for (titulo of titulos) { %>
					<tr class="filas">
						<!-- Celdas de datos -->
						<td id="cff" class="ocultar"><%= titulo.color_fondo.codigo %></td>
						<td id="clf" class="ocultar"><%= titulo.color_letras.codigo %></td>
						<td id="id" class="ocultar"><%= titulo.id %></td>
						<!-- Comienzo de celdas visibles -->
						<td><strong><%= titulo.nombre_seccion %></strong></td>
						<td class="center flechas">
							<i class="fas fa-arrow-alt-circle-up<%- titulo == titulos[0] ? ' ocultar' : '' %>"></i>
							<i class="fas fa-arrow-alt-circle-down<%- titulo == titulos[titulos.length-1] ? ' ocultar' : '' %>"></i>
						</td>
						<td><input type="text" name="ne" value="<%= titulo.nombre_encabezado %>"></td>
						<td><input type="text" name="ts" value="<%= titulo.titulo_seccion %>"></td>
						<!-- Celda de colores (fondo) -->
						<td>
							<select name="cff">
								<% for (n of colores) { %>
									<option
										value="<%= n.id %>"
										<%- n.id == titulo.color_fondo_id ? 'selected' : "" %>
									>
										<%= n.nombre %>
									</option>
								<% } %>
							</select>
						</td>
						<!-- Celda de colores (letras) -->
						<td>
							<select name="clf">
								<% for (n of colores) { %>
									<option
										value="<%= n.id %>"
										<%- n.id == titulo.color_letras_id ? 'selected' : "" %>
									>
										<%= n.nombre %>
									</option>
								<% } %>
							</select>
						</td>
						<% if (titulo.imagen_id) { %>
							<!-- Celda de imagen particular -->
							<td class="td_imagen">
								<form action="/edicion/reemplazarImagen" method = "POST" enctype = "multipart/form-data">
									<input name="entidad" value="imagenes_varias" class="ocultar">
									<input name="ruta" value="<%= carpetaExterna %>varias/" class="ocultar">
									<input name="home" value="/edicion/home" class="ocultar">
									<input name="id" value="<%= titulo.imagen_id %>" class="ocultar">
									<label for="inputImagen<%= i %>" class="pointer"><img src="/externa/varias/<%= titulo.imagen.archivo %>"></label>
									<input name="imagen" type="file" id="inputImagen<%= i %>" class="ocultar" accept="image/*" onchange="this.form.submit()">
									<% i=i+1 %>
								</form>
							</td>
						<% } else { %>
							<td class="center">-</td>
						<% } %>
						<!-- Celda de ícono para editar texto -->
						<td class="center">
							<%- titulo.editar_texto ? '<a href="/edicion/textos/' + titulo.nombre_seccion + '"><i class="fas fa-check-circle"></i></a>' : '<i class="fas fa-times-circle"></i>' %>
						</td>
						<!-- Celda de ícono para editar imágenes -->
						<td class="center">
							<%- titulo.editar_imagenes ? '<a href="/edicion/imagenes/' + titulo.nombre_seccion + '"><i class="fas fa-check-circle"></i></a>' : '<i class="fas fa-times-circle"></i>' %>
						</td>
						<!-- Celda de ícono para editar botones -->
						<td class="center">
							<%- titulo.color_fondo_boton_id ? '<a href="/edicion/botones/' + titulo.nombre_seccion + '"><i class="fas fa-check-circle"></i></a>' : '<i class="fas fa-times-circle"></i>' %>
						</td>
					</tr>
				<% } %>
				<!-- Fila de footer de home -->
				<tr id="footer">
					<td id="cfp" class="ocultar"><%= footer.color_fondo.codigo %></td>
					<td id="clp" class="ocultar"><%= footer.color_letras.codigo %></td>
					<td><strong>footer</strong></td>
					<td class="center">-</td>
					<td>-</td>
					<td>-</td>
					<td>
						<select name="cfp">
							<% for (n of colores) { %>
								<option
									value="<%= n.id %>"
									<%- n.id == footer.color_fondo_id ? 'selected' : "" %>
								>
									<%= n.nombre %>
								</option>
							<% } %>
						</select>
					</td>
					<td>
						<select name="clp">
							<% for (n of colores) { %>
								<option
									value="<%= n.id %>"
									<%- n.id == footer.color_letras_id ? 'selected' : "" %>
								>
									<%= n.nombre %>
								</option>
							<% } %>
						</select>
					</td>
					<td class="center">-</td>
					<td class="center">-</td>
					<td class="center">-</td>
					<td class="center">-</td>
				</tr>
			</tbody>
		</table>
		<div id="botones">
			<a href="/logout" title="Volver a la página principal"><i class="fab fa-internet-explorer"></i></a>
			<a href="/edicion/colores" title="Ir a la Base de Datos de colores"><i class="fas fa-paint-roller"></i></a>
		</div>
	</main>
</body>
</html>