<%- include('0-head', {titulo: "Edición - " + titulo.nombre_encabezado}) %>
<%- include('4-headEditarImagenes') %>
<body id="editar_imagenes">
	<header>
		Seccion: <%= titulo.nombre_encabezado %> - Editar Imágenes
	</header>
	<main>
		<% i=0 %>
		<% for (let grupo=1; grupo<=datos.length; grupo++) { %>
			<% imagenes = datos.filter(n => n.grupo == grupo) %>
			<% if (imagenes.length == 0) {break} %>
			<h2>
				<%= datos.filter(n => n.grupo == 2).length ? "Grupo "+grupo : "Todos las imágenes están en un mismo grupo" %>
			</h2>
			<ul class="imagenes">
				<% for (imagen of imagenes) { %>
					<li>
						<!-- Imagen existente -->
						<form action="/edicion/reemplazarImagen/" method = "POST" enctype = "multipart/form-data" id="tamano">
							<input name="entidad" value="<%= titulo.nombre_seccion %>_imagenes" class="ocultar">
							<input name="ruta" value="./public/imagenes/<%= titulo.id %>-<%= titulo.nombre_seccion %>/" class="ocultar">
							<input name="home" value="<%= url %>" class="ocultar">
							<input name="id" value="<%= imagen.id %>" class="ocultar">
							<label for="inputImagen<%= i %>"><img src="/imagenes/<%= titulo.id %>-<%= seccion %>/<%= imagen.archivo %>"></label>
							<input name="imagen" type="file" id="inputImagen<%= i %>" class="ocultar" accept="image/*" onchange="this.form.submit()">
							<% i=i+1 %>
						</form>
						<!-- Texto existente -->
						<input name="texto" type="text" value="<%= imagen.texto %>">
						<!-- Flechas de 'orden' y trash -->
						<div>
							<i class="fas fa-arrow-alt-circle-left<%- imagen==imagenes[0] ? ' ocultar' : '' %>"></i>
							<a title="Eliminar"><i class="far fa-trash-alt"></i></a>
							<i class="fas fa-arrow-alt-circle-right<%- imagen==imagenes[imagenes.length-1] ? ' ocultar' : '' %>"></i>
						</div>
					</li>
				<% } %>
				<li id="liAgregar">
					<!-- Agregarle una imagen al grupo -->
					<form action="/edicion/agregarImagen" method = "POST" enctype = "multipart/form-data">
						<input name="entidad" value="<%= titulo.nombre_seccion %>_imagenes" class="ocultar">
						<input name="ruta" value="./public/imagenes/<%= titulo.id %>-<%= titulo.nombre_seccion %>/" class="ocultar">
						<input name="home" value="<%= url %>" class="ocultar">
						<input name="grupo" value="<%= grupo %>" class="ocultar">
						<a title="Agregar una imagen" id="agregar">
							<label for="nuevaImagen<%= grupo %>">
								<i class="fas fa-plus"></i>
							</label>
						</a>
						<input name="imagen" type="file" id="nuevaImagen<%= grupo %>" class="ocultar" accept="image/*" onchange="this.form.submit()">
					</form>
				</li>
			</ul>
		<% } %>
		<div id="botones">
			<a href="/edicion/home" title='Volver al "Home" de Edición'><i class="fas fa-home"></i></a>
			<% if (seccion == "proyectos") { %>
				<a title="Agregar un grupo" id="agregarGrupo"><i class="fas fa-plus"></i></a>
			<% } %>
		</div>
	</main>
</body>
</html>