<section id="texto" class="flex-col">
	<div class="flex-row">
		<div id="centrar">
			<p id="logo1">ARQ & HAB</p>
			<p id="logo2">Arquitectura y Habilitaciones</p>
		</div>
		<div id="grow">
		</div>
	</div>
	<h1><%= n.titulo_seccion %></h1>
	<div id="tareas">
		<% for (m of inicio.filter(m => m.grupo == 1)) { %>
			<p><%= m.contenido %> </p>
		<% } %> 
	</div>
	<div id="datos">
		<% for (m of inicio.filter(m => m.grupo == 2)) { %>
			<p><%= m.contenido %> </p>
		<% } %> 
	</div>
</section>
<section id="imagenes">
	<ul>
		<% for (m of inicio_imagenes) { %>
			<li><img src="./imagenes/1-inicio/<%= m.nombre %>"></li>
		<% } %> 
		<li>
			<img src="./imagenes/1-inicio/<%= inicio_imagenes[0].nombre %>">
		</li>
	</ul>
	<div id="iconos">
		<i class="fas fa-chevron-left ocultar"></i>
		<i class="fas fa-pause-circle"></i>
		<i class="fas fa-play-circle ocultar"></i>
		<i class="fas fa-chevron-right"></i>
	</div>
	<nav id="dots">
		<% for (let i=0; i<inicio_imagenes.length; i++) { %>
			<button class="dot <%- i==0 ? 'current' : '' %>"></button>
		<% } %>
		<p></p>
	</nav>
</section>
