<section id="texto">
	<h1><%= n.titulo_seccion %></h1>
	<div id="comentarioH1">
		<% for (m of habilitaciones.filter(m => m.grupo == 1)) { %>
			<p><%= m.contenido %> </p>
		<% } %> 
	</div>
	<ul>
		<% casos = habilitaciones.filter(m => (m.grupo > 1 && m.orden == 1)).length %>
		<% for (let i=0; i<casos; i++) { %>
			<li>
				<h2><%= habilitaciones.find(n => n.grupo == i+2 && n.orden == 1).contenido %></h2>
				<p><%= habilitaciones.find(n => n.grupo == i+2 && n.orden == 2).contenido %></p>
			</li>
		<% } %> 
	</ul>
</section>
<section id="imagenes">
	<img src="./imagenes/2-habilitaciones/<%= n.imagen.nombre %>" alt="<%= n.imagen.lugar %>">
</section>