<section id="texto">
	<div id="titulo">
		<h1>Proyectos y Obras</h1>
	</div>
	<div id="botones">
		<% for (n of proyectos) { %>
			<button>
				<%= n.nombre_a_mostrar %> 
			</button>
		<% } %> 
	</div>
</section>
<section id="imagen">
	<% for (let i=0; i<proyectos.length; i++) { %>
		<div class="grupo <%- i==0 ? 'flex-row' : 'ocultar' %> ">
			<% for (let j=0; j<proyectos[i].imagenes.length; j++) { %> 
					<img style="animation: banner<%= j+1 %> 15s infinite normal" src="./imagenes/3-proyectos/<%= proyectos[i].imagenes[j].nombre %>">
					<% if (proyectos[i].imagenes[j].texto) { %>
						<figcaption style="animation: banner<%= j+1 %> 15s infinite normal"><%= proyectos[i].imagenes[j].texto %> </figcaption>
					<% } %> 
			<% } %> 
		</div>
	<% } %>
</section>