<h1><%= n.titulo_seccion %></h1>
<section id="arquitecto">
	<h2>
		<%= quienes_somos.find(n => n.grupo == 1 && n.orden == 1).contenido %>
		<a class="sinPointer" href="/login" target="_blank">
			<img src="/imagenes/5-quienes_somos/<%= n.imagen.nombre %>" alt="<%= n.imagen.lugar %>">
		</a>
	</h2>
	<ul>
		<% casos = quienes_somos.filter(m => (m.grupo == 2)).length %>
		<% for (let i=0; i<casos; i++) { %>
			<li><%= quienes_somos.find(n => n.grupo == 2 && n.orden == i+1).contenido %></li>
		<% } %> 
	</ul>
</section>
<section id="clientes">
	<h2><%= quienes_somos.find(n => n.grupo == 1 && n.orden == 2).contenido %></h2>
	<ul>
		<% for (n of clientes_imagenes) { %> 
			<li>
				<img src="/imagenes/5-quienes_somos/<%= n.imagen %> " alt="<%= n.nombre %>">
			</li>
		<% } %> 
	</ul>
</section>