<form action="/" method="POST" class="flex-row">
	<section id="inputs" class="flex-col">
		<h1>Contactanos</h1>
		<p id="formEnviado" class="ocultar"><%= locals.datos ? "SI" : "NO" %></p>
		<div class="relative flex-col">
			<input class="input" type="text" name="nombre" placeholder="Nombre" 
				value="<%= locals.datos ? datos.nombre : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<input class="input" type="text" name="mail" placeholder="E-Mail"
				value="<%= locals.datos ? datos.mail : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<input class="input" type="text" name="telefono" placeholder="Teléfono (opcional)"
				value="<%= locals.datos ? datos.telefono : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<textarea class="input" name="comentario" rows="8" placeholder="Comentario" autocomplete="off"><%= locals.datos ? datos.comentario : null %></textarea>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
	</section>
	<section id="texto" class="flex-col">
		<div class="flex-col">
			<h2>Arq. José Ricardo Costas</h2>
			<p>Mat. CPAU 28.861</p>
			<br>
			<p>Celular: (11) 5462 2786</p>
			<p>Mail: josericardocostas@hotmail.com</p>
		</div>
		<div id="submit" class="flex-row">
			<input name="suma1" type="number" class="ocultar" value="<%= suma1 %>">
			<input name="suma2" type="number" class="ocultar" value="<%= suma2 %>">
			<label for="suma" class="noSeleccionable"><%= suma1 %> + <%= suma2 %>  =</label>
			<div class="relative flex-col">
				<input class="input" type="text" name="suma"
					value="<%= locals.datos ? "X" : null %>"
					autocomplete="off"
				>
				<i class="fas fa-times-circle ocultar" id="suma"></i>
			</div>
			<button type="submit">Enviar</button>
		</div>
	</section>
</form>