<form action="/" method="POST" class="flex-row">
	<section id="inputs" class="flex-col">
		<h1>Contactanos</h1>
		<div class="relative flex-col">
			<input class="input" type="text" name="nombre" placeholder="Nombre" 
				value="<%= locals.datos ? datos.nombre : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<input class="input" type="text" name="mail" placeholder="E-Mail"
				value="<%= locals.datos ? datos.mail : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<input class="input" type="text" name="telefono" placeholder="Teléfono (opcional)"
				value="<%= locals.datos ? datos.telefono : null %>"
			>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
		<div class="relative flex-col">
			<textarea class="input" name="comentario" rows="6" placeholder="Comentario" autocomplete="off"><%= locals.datos ? datos.comentario : null %></textarea>
			<i class="fas fa-times-circle ocultar"></i>
		</div>
	</section>
	<section id="texto" class="flex-col">
		<div class="flex-col">
			<h2>Arq. José Ricardo Costas</h2>
			<p>Mat. CPAU 28.861</p>
			<br>
			<p>Celular: (11) 5462 2786</p>
			<p>Mail: josericardocostas@hotmail.com</p>
		</div>
		<div id="submit">
			<p id="suma1" class="noSeleccionable"><%= suma1 %></p>
			<p class="noSeleccionable">+</p>
			<p id="suma2" class="noSeleccionable"><%= suma2 %></p>
			<p class="noSeleccionable">=</p>
			<div class="relative flex-col">
				<input id="suma" class="input" type="text" name="suma"
					value="<%= locals.datos ? "X" : null %>"
					autocomplete="off"
				>
				<i class="fas fa-times-circle ocultar" id="errorSuma"></i>
			</div>
			<button type="submit">Enviar</button>
		</div>
	</section>
</form>
<section id="background" class="ocultar">
</section>
<section id="envioExitoso" class="ocultar">
	<p>¡Su mensaje fue enviado correctamente!</p>
	<img src="/imagenes/6-contactanos/ok.png">
	<button>Entendido</button>
</section>
